header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    .logo{
        font-size: 50px;
        font-weight: 900;
        img{
            
        }
    }
    nav{
        .nav-links{
            display: flex;
            align-items: center;
            a{
                padding: 0 15px;
                cursor: pointer !important;
                font-weight: 500;
                text-decoration: none;
                color: $black;
                &.active{
                    color: blueviolet;
                }
            }
        }
    }
}